<!DOCTYPE html>
<head>
  <!-- D3 Charts include -->
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!-- jQuery -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <!-- Data -->
  <script src="/static/js/test-data.js" charset="utf-8"></script>
  <!-- Line Graph -->
  <script src="/static/js/line-graph.js" charset="utf-8"></script>
  <!-- Data Parser Object -->
  <script src="/static/js/dataParser.js" charset="utf-8"></script>

  <!-- Style -->
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <script>
  $(document).ready(function(){
    console.log(testdata);
    var parser = new dataParser(testdata);
    parser.getValuesFor("High");
  });
  </script>
</head>
<body>
  <p>hi</p>
</body>
</html>