<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <!-- Google Menu  -->
  <link rel="stylesheet" href="/static/google_menu/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/google_menu/css/component.css" type="text/css">
  <link rel="stylesheet" href="/static/google_menu/css/normalize.css" type="text/css">

  <!-- Style -->
  <link rel="stylesheet" href="/static/css/nv.d3.css" type="text/css">
  <style>
  body {
    overflow-y:scroll;
    text-align: center;
  }
  text {
    font: 12px sans-serif;
  }
  svg {
    display: block;
  }
  #chart1 svg {
    height: 500px;
    min-width: 200px;
    min-height: 100px;
  /*
    margin: 50px;
    Minimum height and width is a good idea to prevent negative SVG dimensions...
    For example width should be =< margin.left + margin.right + 1,
    of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
  */
  }
  #chart1 {
    margin-top: 0px;
    margin-left: 10px;
  }
  .tempButton{
    width:100px;
    height:50px;
    background-color: red;
  }
  #canvas{
    margin:auto;
  }
  </style>

  <!-- D3 Charts include -->
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!-- jQuery -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <!-- Data -->
  <script src="/static/js/require.js" charset="utf-8"></script>
  <!-- Converter -->
  <script src="/static/js/converter.js"></script>
  <!-- Line Graph, nvd3-->
  <script src="/static/js/line-graph.js" charset="utf-8"></script>
  <script src="/static/js/dataParser.js" charset="utf-8"></script>
  <script src="/static/js/nvd3/nv.d3.js" charset="utf-8"></script>
  <script src="/static/js/nvd3/tooltip.js"></script>
  <script src="/static/js/nvd3/utils.js"></script>
  <script src="/static/js/nvd3/interactiveLayer.js"></script>
  <script src="/static/js/nvd3/models/legend.js"></script>
  <script src="/static/js/nvd3/models/axis.js"></script>
  <script src="/static/js/nvd3/models/scatter.js"></script>
  <script src="/static/js/nvd3/models/line.js"></script>
  <script src="/static/js/nvd3/models/lineChart.js"></script>
  <!-- Vexflow, Music notation library -->
  <script src="/static/js/vexflow/vexflow.min.js"></script>
  <!-- MIDI JS -->
  <script src="/static/js/MIDIJS/AudioDetect.js"></script>
  <script src="/static/js/MIDIJS/DOMLoader.script.js"></script>
  <script src="/static/js/MIDIJS/DOMLoader.XMLHttp.js"></script>
  <script src="/static/js/MIDIJS/LoadPlugin.js"></script>
  <script src="/static/js/MIDIJS/Player.js"></script>
  <script src="/static/js/MIDIJS/Plugin.js"></script>
  <script src="/static/js/MIDIJS/Base64.js"></script>
  <script src="/static/js/MIDIJS/base64binary.js"></script>
  
  <!-- Chart Creation  -->
  <script src="/static/js/chartCreator.js"></script>
  <script src="/static/js/staffCreator.js"></script>
  
  <script>
    /*
    Creating a global notes object to be accessed and updated independently by Vexflow and audiosynth.js
    */
    var notes = [
      {
        "note":"C",
        "octave":4,
        "duration_vex":"q",
        "duration_audio":2
      },
      {
        "note":"D",
        "octave":4,
        "duration_vex":"q",
        "duration_audio":2
      },
      {
        "note":"E",
        "octave":4,
        "duration_vex":"q",
        "duration_audio":2
      },
      {
        "note":"B",
        "octave":4,
        "duration_vex":"qr",
        "duration_audio":2
      },
    ];
    var converter;
  </script>
</head>
<body >
<!-- Nav -->
<ul id="gn-menu" class="gn-menu-main">
  <li style="opacity:1;margin-left:50px;"><span>stock<font style="bold">music</font></span></li>
  <li class="gn-search-item">
  <input placeholder="Search" type="search" class="gn-search">
  <a class="gn-icon gn-icon-search"><span>Search</span></a>
  </li>
  <li style="opacity:0;"><span>What's in your wallet?</span></li>
</ul>
<!-- Nav -->
<!-- Data Parser Object -->
<div id="chart1" >
  <svg style="height: 500px;"></svg>
</div>
<div class="one">
  <div class="a">
    <!-- <canvas id="canvas" width="1080" height="1000"></canvas> -->
  </div>
</div>
<script> //vexflow script for display of musical stuff


</script>
<script>
  var that;
  $(document).ready(function(){
    MIDI.loadPlugin({
      soundfontUrl: "/static/js/MIDIJS/soundfont/",
      instruments: [ "acoustic_grand_piano"],
      callback: function() {
        // playNotes(); 
        chartCreator(testdata,nv);
        converter = new Converter(testdata.data,function(result){
          if(result[0] == 'finished'){
            drawnotes(result[1])
            play(result[1])
          }
        })
      }
    });
  });
</script>


<div class="tempButton"></div>
<script src="/static/google_menu/js/classie.js"></script>
<script src="/static/google_menu/js/gnmenu.js"></script>
<script>
  new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
</body>
</html>